html,
body {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: #e2e2e0;
    color: #666;
    font: 16px/28px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
}
h1,
h2,
h3 {
    font-weight: 300;
    font-family: oxygen;
}
hr {
    display: block;
    margin-right:20px;
    padding: 0;
    height: 0px;
    border: 0;
    border-top: 1px solid #ccc;
}
/*** header ***/

#menu_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 80;
    width: 100%;
    background: #313131;
}

#menu {
    padding: 0;
    width: 100%;
    list-style-type: none;
    text-align: justify;
}

#menu:after {
    content: '';
    display: inline-block;
    width: 100%;
}


#menu li {
    display:inline-block;
    padding: 5px 30px;
}

#menu a {
    color: #6d6f70;
    text-decoration: none;
    font-size: 20px;
}


#menu a:hover {
    color: #fff;
}

.selected {
    color: #fff!important;
}
/*** horizontal slider ***/

#container {
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    height: 100%;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    height: 100%;
    z-index: 10;
    display: table;
    margin: 0;
}

.cover {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
    width:100%;
    overflow:hidden;
}

.vertical-panel {
    position: relative;
    z-index: 20;
    height: 100%;
    background: #fff;
    color: #111;
    width: 30%;
    opacity: 0.8;
    overflow:hidden;
    float:right;
}
.vertical-panel h1 {
    line-height: 40px;
}

.vertical-panel-content{
    padding:30px;
}

.line-element {
    position: relative;
    z-index: 10;
    display: table-cell;
    overflow:auto;
    width: 1920px;
    background-repeat:no-repeat;
    background-size:cover;
}

.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}